* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  color: #333;
}


header {
  position: relative;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.flag {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 35px;
  height: 100px;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  color: #823838;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
}

nav a:hover {
  color: #ff6f00;
}

section {
  padding: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #823838;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  color: #333;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
}


.about-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  display: inline;
}

.about-social {
  display: inline-flex;
  margin-left: 10px;
}

.about-social a {
  padding: 5px 20px;
  background-color: #823838;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.about-social a:hover {
  background-color: #ff6f00;
}


/* Gallery styles */
.gallery {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.image-wrapper {
  cursor: pointer;
  width: 100%;
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio for widescreen videos */
  background-color: #000;
}

.image-wrapper[data-video-id] {
  /* Center the play button icon */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper[data-video-id] i {
  color: #fff;
  font-size: 40px;
  opacity: 0;
}

.image-wrapper[data-video-id]:hover i {
  opacity: 1;
}


.gallery-button {
  text-align: center;
  margin-top: 20px;
}

.gallery-button button {
  padding: 10px 20px;
  background-color: #823838;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.gallery-button button:hover {
  background-color: #ff6f00;
}

.social-icons a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.video-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: #823838;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
    color: #ddd;
  }

  header {
    background-color: #444;
  }

  nav a {
    color: #ddd;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #f7f7f7;
    color: #333;
  }

  header {
    background-color: #eee;
  }

  nav a {
    color: #333;
  }
}
